#img {
  background-image: url("../Images/cloudedsky.jpg");
  height: 200%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
}
#cel {
  font-size: 150px;
}
.head {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}
.innerbox {
  font-size: 20px;
  height: 100%;
  width: 100%;

  background-color:517693;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}


/* .line{
  height: 1px;
  
  background-color: black;
  
} */
.innerbox2{
  font-size: 20px;
  height:30%;
  width: 100%;


  background-color:517693;
  border-radius: 10px;
  /* display: flex;
  justify-content: center; */
 
}
.line{
  height: .2px ;
width: 100%;
  background-color:cornsilk;



}
/* .header2{
display: flex;
justify-content: center;
} */
.second{
  display: flex;
  justify-content: center;
}
.progressbar{
  
}
h5{
  color: blue;
}